%header
  %h1= link_to "The title of my website", root_path
  - if current_user
    = link_to "Sign out", signout_path, class: "link"
  - else
    = link_to "Sign in", signin_path, class: "link"
    = link_to "Sign up", signup_path, class: "link"
