.something
  %p
    This is my weird todo app. Feel free to
    = link_to "sign up", signup_path
    and try it out.
.something
  %p It's an ever evolving work in progress, but I promise that it will remain intrusively minimal.
.something
  %p So don't worry.
