html,body
  height: 100%
body
  font-size: 100%
  font-family: Georgia, Times, serif
  //text-align: center

  a
    text-decoration: none
    color: inherit

  header
    margin: 0 auto
    text-align: left
    padding: 0 15px 0 15px
    line-height: 2.5em
    h1
      float: right
      font-size: 1.5em
    a.link

  #container
    text-align: left
    background: rgba(0,0,0,.03)
    padding: 1px
    min-height: 100%
    padding-top: 0
    border-bottom: 1px solid rgba(255,255,255,0.1)
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.1)
